---
---
#code-output {
      font-family: 'Days One', sans-serif;
      border-color: white;
      background-color: black;
      color: white;
      border-style: solid;
      width: 100%;
      height: 50%;
      resize: vertical;
      tab-size: 4;
      -moz-tab-size: 4;
      -o-tab-size: 4;
}

.editor-marginner {
      padding: 0;
      margin: 0;
      margin-left: 10px;
      margin-right: 10px;
}

#code-input {
      font-family: 'Days One', sans-serif;
      border-color: white;
      background-color: black;
      color: white;
      border-style: solid;
      width: 100%;
      height: 50%;
      resize: vertical;
      tab-size: 4;
      -moz-tab-size: 4;
      -o-tab-size: 4;
}

/* BUTTON SECTION */
.button-section {
      display: inline-block;
      background-color: transparent;
      border-width: 1px;
      border-color: white;
      border-radius: 0;
      border-style: solid;
}

/*
.button-section-wrap-l {
      border: 0px;
      margin-left: -1px!important;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
}

.button-section-wrap-r {
      border: 0px;
      margin-right: -1px!important;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
}
*/

.button-section>.button-section-divider {
      margin: 0px;
      margin-left: 0px;
      margin-right: 0px;
      padding: 0px;
      border-top: 0px;
      border-bottom: 0px;
      border-left: 0px;
      border-right: 0px;
      display: inline;
      border-style: solid;
      border-color: cyan;
      background-color: transparent;
      color: cyan;
}

.button-section>button {
      display: inline-block;
      border: none;
      height: 40px;
      margin: 0px;
      padding: 0px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 0px;
      padding-bottom: 0px;
      vertical-align: middle;
      font-family: 'Days One', sans-serif;
      font-size: 16px;
      background-color: transparent;
      color: white;
      transition: 0.25s ease-in-out;
      transition-property: color,background-color;
}

.button-section>button:hover {
      background-color: white;
      color: black;
}

/*  */
#editor-recipe-ingredient-list {
      min-height: 150px;
      height: 250px;
      width: 50%;
      display: inline-block;
      scroll-behavior: smooth;
      overflow-x: scroll;
      overflow-y: scroll;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      vertical-align: top;
      resize: vertical;
      margin-right: 20px;
}
#editor-recipe-linked-list {
      min-height: 150px;
      height: 250px;
      width: 50%;
      display: inline-block;
      scroll-behavior: smooth;
      overflow-x: scroll;
      overflow-y: scroll;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      vertical-align: top;
      resize: vertical;
      margin-right: 20px;
}
#editor-recipe-unlock-list {
      min-height: 150px;
      height: 250px;
      width: 50%;
      display: inline-block;
      scroll-behavior: smooth;
      overflow-x: scroll;
      overflow-y: scroll;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      vertical-align: top;
      resize: vertical;
      margin-right: 20px;
}

/* INGREDIENT LIST */
.ingredient-list-id {
      font-family: 'Days One', sans-serif;
      border-color: white;
      background-color: black;
      border-style: solid;
      height: 30px;
      width: 55%;
      color: white;
      border-width: 0px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      margin: 0px;
      display: inline-block;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
}
.ingredient-list-amount {
      font-family: 'Days One', sans-serif;
      border-color: white;
      background-color: black;
      border-style: solid;
      height: 30px;
      width: 15%;
      color: white;
      border-width: 0px;
      border-left-width: 1px;
      border-right-width: 1px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      margin: 0px;
      display: inline-block;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
}
.ingredient-list-remove {
      font-family: 'Days One', sans-serif;
      border-color: white;
      background-color: black;
      border-style: solid;
      height: 30px;
      width: 30%;
      color: white;
      border-width: 0px;
      padding: 0px;
      margin: 0px;
      display: inline-block;
      transition: 0.25s ease-in-out;
      transition-property: color,background-color;
}
.ingredient-list-remove:hover {
      border-color: black;
      background-color: white;
      color: black;
}
.ingredient-list-entry {
      border-bottom: 2px solid white;
      overflow: hidden;
      height: 30px;
      font-size: 0;
}

/* LINKED LIST */
.linked-list-id {
      font-family: 'Days One', sans-serif;
      border-color: white;
      background-color: black;
      border-style: solid;
      height: 30px;
      width: 70%;
      color: white;
      border-width: 0px;
      border-right-width: 1px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      margin: 0px;
      display: inline-block;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
}
.linked-list-remove {
      font-family: 'Days One', sans-serif;
      border-color: white;
      background-color: black;
      border-style: solid;
      height: 30px;
      width: 30%;
      color: white;
      border-width: 0px;
      padding: 0px;
      margin: 0px;
      display: inline-block;
      transition: 0.25s ease-in-out;
      transition-property: color,background-color;
}
.linked-list-remove:hover {
      border-color: black;
      background-color: white;
      color: black;
}
.linked-list-entry {
      border-bottom: 2px solid white;
      overflow: hidden;
      height: 30px;
      font-size: 0;
}

/* UNLOCK LIST */
.unlock-list-id {
      font-family: 'Days One', sans-serif;
      border-color: white;
      background-color: black;
      border-style: solid;
      height: 30px;
      width: 70%;
      color: white;
      border-width: 0px;
      border-right-width: 1px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      margin: 0px;
      display: inline-block;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
}
.unlock-list-remove {
      font-family: 'Days One', sans-serif;
      border-color: white;
      background-color: black;
      border-style: solid;
      height: 30px;
      width: 30%;
      color: white;
      border-width: 0px;
      padding: 0px;
      margin: 0px;
      display: inline-block;
      transition: 0.25s ease-in-out;
      transition-property: color,background-color;
}
.unlock-list-remove:hover {
      border-color: black;
      background-color: white;
      color: black;
}
.unlock-list-entry {
      border-bottom: 2px solid white;
      overflow: hidden;
      height: 30px;
      font-size: 0;
}

/*  */
#editor-recipe-citems-list, #editor-customtab-citems-list, #editor-customsize-citems-list, #editor-custombiofuels-citems-list {
      min-height: 400px;
      height: fill;
      width: 100%;
      display: inline-block;
      scroll-behavior: smooth;
      overflow-x: scroll;
      overflow-y: scroll;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      vertical-align: top;
      resize: vertical;
}

.recipe-clist-entry, .customtab-clist-entry, .customsize-clist-entry, .custombiofuels-clist-entry {
      border-bottom: 2px solid white;
      padding-bottom: 5px;
      padding-top: 5px;
}
.recipe-clist-remove {
      background-color: black!important;
      color: white!important;
      font-family: 'Days One', sans-serif!important;
      border-color: white!important;
      border-width: 1px!important;
      border-style: solid!important;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color,border-color!important;
      -webkit-appearance: textfield!important;
      -moz-appearance: textfield!important;
}
.recipe-clist-remove:hover {
      background-color: white!important;
      color: black!important;
      border-color: black!important;
}
.recipe-clist-id {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      margin-right: 2px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}
.recipe-clist-amount {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      margin-right: 2px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}
.recipe-clist-displayname {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      margin-right: 2px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}
.recipe-clist-tooltip {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      margin-right: 2px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}
.recipe-clist-path {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      margin-right: 2px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}

.recipe-clist-ingredients {
      background-color: black;
      color: white;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      height: 150px;
      width: 35%;
      display: inline-block;
      overflow-x: hidden;
      overflow-y: scroll;
      vertical-align: top;
      resize: vertical;
}
.recipe-clist-ingredients-add {
      background-color: black;
      color: white;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      font-family: 'Days One', sans-serif;
      height: 30px;
      margin: 0px;
      margin-right: 5px;
      margin-left: 2px;
      padding: 0px;
      padding-left: 2px;
      padding-right: 2px;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color,border-color!important;
}
.recipe-clist-ingredients-add:hover {
      background-color: white;
      color: black;
      border-color: black;
}
.recipe-clist-ingredient-entry {
      height: 30px;
      width: 100%;
      border-bottom: 2px solid white;
      overflow: hidden;
      font-size: 0;
}
.recipe-clist-ingredient-id {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      height: 100%;
      width: 50%;
      border-width: 0px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}
.recipe-clist-ingredient-amount {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      height: 100%;
      width: 20%;
      border-width: 0px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}
.recipe-clist-ingredient-remove {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      height: 100%;
      width: 30%;
      border-width: 0px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color!important;
}
.recipe-clist-ingredient-remove:hover {
      background-color: white;
      color: black;
}

.recipe-clist-linked {
      background-color: black;
      color: white;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      height: 150px;
      width: 20%;
      display: inline-block;
      overflow-x: hidden;
      overflow-y: scroll;
      vertical-align: top;
      resize: vertical;
}
.recipe-clist-linked-add {
      background-color: black;
      color: white;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      font-family: 'Days One', sans-serif;
      height: 30px;
      margin: 0px;
      margin-right: 5px;
      margin-left: 2px;
      padding: 0px;
      padding-left: 2px;
      padding-right: 2px;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color,border-color!important;
}
.recipe-clist-linked-add:hover {
      background-color: white;
      color: black;
      border-color: black;
}
.recipe-clist-linked-entry {
      height: 30px;
      width: 100%;
      border-bottom: 2px solid white;
      overflow: hidden;
      font-size: 0;
}
.recipe-clist-linked-id {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      height: 100%;
      width: 70%;
      border-width: 0px;
      border-right-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}
.recipe-clist-linked-remove {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      height: 100%;
      width: 30%;
      border-width: 0px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color!important;
}
.recipe-clist-linked-remove:hover {
      background-color: white;
      color: black;
}

.recipe-clist-unlock {
      background-color: black;
      color: white;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      height: 150px;
      width: 20%;
      display: inline-block;
      overflow-x: hidden;
      overflow-y: scroll;
      vertical-align: top;
      resize: vertical;
}
.recipe-clist-unlock-add {
      background-color: black;
      color: white;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      font-family: 'Days One', sans-serif;
      height: 30px;
      margin: 0px;
      margin-right: 5px;
      margin-left: 2px;
      padding: 0px;
      padding-left: 2px;
      padding-right: 2px;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color,border-color!important;
}
.recipe-clist-unlock-add:hover {
      background-color: white;
      color: black;
      border-color: black;
}
.recipe-clist-unlock-entry {
      height: 30px;
      width: 100%;
      border-bottom: 2px solid white;
      overflow: hidden;
      font-size: 0;
}
.recipe-clist-unlock-id {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      height: 100%;
      width: 70%;
      border-width: 0px;
      border-right-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}
.recipe-clist-unlock-remove {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      height: 100%;
      width: 30%;
      border-width: 0px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color!important;
}
.recipe-clist-unlock-remove:hover {
      background-color: white;
      color: black;
}

/*  */
.editor-recipe-input {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-width: 1px;
      border-color: white;
      border-style: solid;
      padding: 3px;
      display: inline;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 2px;
}

.editor-recipe-button {
      background-color: black!important;
      color: white!important;
      font-family: 'Days One', sans-serif!important;
      border-width: 1px!important;
      border-color: white!important;
      border-style: solid!important;
      padding: 3px!important;
      display: inline!important;
      margin: 2px!important;
      margin-right: 6px!important;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color,border-color!important;
}
.editor-recipe-button:hover {
      background-color: white!important;
      color: black!important;
      border-color: black!important;
}

.editor-recipe-button-important {
      background-color: white!important;
      color: black!important;
      font-family: 'Days One', sans-serif!important;
      border-width: 1px!important;
      border-color: black!important;
      border-style: solid!important;
      padding: 3px!important;
      display: inline!important;
      margin: 2px!important;
      margin-right: 6px!important;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color,border-color!important;
}

.editor-recipe-button-important:hover {
      background-color: black!important;
      color: white!important;
      border-color: white!important;
}




.editor-customtab-input {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-width: 1px;
      border-color: white;
      border-style: solid;
      padding: 3px;
      display: inline;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 2px;
}

.editor-customtab-button {
      background-color: black!important;
      color: white!important;
      font-family: 'Days One', sans-serif!important;
      border-width: 1px!important;
      border-color: white!important;
      border-style: solid!important;
      padding: 3px!important;
      display: inline!important;
      margin: 2px!important;
      margin-right: 6px!important;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color,border-color!important;
}
.editor-customtab-button:hover {
      background-color: white!important;
      color: black!important;
      border-color: black!important;
}

.editor-customtab-button-important {
      background-color: white!important;
      color: black!important;
      font-family: 'Days One', sans-serif!important;
      border-width: 1px!important;
      border-color: black!important;
      border-style: solid!important;
      padding: 3px!important;
      display: inline!important;
      margin: 2px!important;
      margin-right: 6px!important;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color,border-color!important;
}

.editor-customtab-button-important:hover {
      background-color: black!important;
      color: white!important;
      border-color: white!important;
}

.customtab-clist-id {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      margin-right: 2px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}
.customtab-clist-displayname {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      margin-right: 2px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}
.customtab-clist-sprite {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      margin-right: 2px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}
.customtab-clist-parentpath {
      background-color: black;
      color: white;
      font-family: 'Days One', sans-serif;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      margin: 0px;
      margin-right: 2px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
}

.customtab-clist-remove {
      background-color: black!important;
      color: white!important;
      font-family: 'Days One', sans-serif!important;
      border-color: white!important;
      border-width: 1px!important;
      margin-left: 3px;
      border-style: solid!important;
      transition: 0.25s ease-in-out!important;
      transition-property: color,background-color,border-color!important;
      -webkit-appearance: textfield!important;
      -moz-appearance: textfield!important;
}
.customtab-clist-remove:hover {
      background-color: white!important;
      color: black!important;
      border-color: black!important;
}


.input-labler {
      display: inline-block;
}
.input-labler-label {
      display: block;
      text-align: left;
      margin-left: 3px;
      margin-right: 3px;
      overflow: hidden;
      width: 100%;
      color: white;
}

/* SLIDER */
.slider {
      background-color: rgb(20,20,20)!important;
}

.slider:before {
      background-color: rgb(120,120,120)!important;
}

input:checked+.slider {
      background-color: white!important;
}

input:checked+.slider:before {
      background-color: black!important;
}

input:focus+.slider {
      box-shadow: 0 0 1px white!important;
}

/*  */