.slider {
      background-color: rgb(200,200,200);
}

.slider:before {
      background-color: #ff9900;
}

input:checked+.slider {
      background-color: #006eff;
}

input:focus+.slider {
      box-shadow: 0 0 1px #006eff;
}