---
og_title: "Change to light Theme"
og_type: "website"
og_url: "/lighttheme"
og_description: "Change your theme to light."
---
<html>

<head>
      <title>CustomCraft - Light Theme</title>
      {% include main-csslist.html %}
      {% capture og_url_fin %}{{ site.url }}{{ site.baseurl }}{{ page.og_url }}{% endcapture %}
      {% include ogp.html title=page.og_title content=page.og_type url=og_url_fin description=page.og_description %}
      <script src="{{ site.baseurl }}/scripts/main.js"></script>
      <script>
            window.addEventListener('windowloaded', function () {
                  document.getElementById("switcher-theme").checked = isLightTheme();
                  document.getElementById("switcher-theme").onchange = function () {
                        if (isLightTheme() != this.checked) {
                              setLightTheme(this.checked);
                        }
                  };
                  window.addEventListener("themechanged", function(e) {
                        updateTheme();
                  });
                  window.addEventListener("storage", function(e) {
                        if (e.key === "theme") {
                              dispatchThemeChangedEvent();
                        }
                  });
                  window.addEventListener('themeupdated', function () {
                        document.getElementById("switcher-theme").checked = isLightTheme();
                  });
                  updateTheme();
            });
      </script>
</head>

<body>
      {% include navbar.html %}
      <div class="disclaimer-design-header">YOU ARE ENTERING THE DANGER ZONE</div><br>
      <div class="disclaimer-design-text">Flip this switch at your own risk! I will not be responsible for any harm the light-theme created!</div>
      <br>
      <div style="text-align: center">
            <label class="switch">
                  <input id="switcher-theme" type="checkbox">
                  <span class="slider"></span>
            </label>
      </div>
</body>

</html>