---
og_title: "Change to light Theme"
og_type: "website"
og_url: "/lighttheme"
og_description: "Change your theme to light."
---
<html>

<head>
      <title>CustomCraft - Light Theme</title>
      {% include main-csslist.html %}
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/1.5.001.css">
      {% capture og_url_fin %}{{ site.url }}{{ site.baseurl }}{{ page.og_url }}{% endcapture %}
      {% include ogp.html title=page.og_title content=page.og_type url=og_url_fin description=page.og_description %}
      <script src="{{ site.baseurl }}/scripts/1.5.001.js"></script>
      <script src="{{ site.baseurl }}/editor/1.5.001.js"></script>
      <script src="{{ site.baseurl }}/scripts/main.js"></script>
      <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
      <script>
            window.TrackJS && TrackJS.install({
                  token: "e26750c4a6054763ae196f2a8db5a376",
                  application: "customcrafteditor"
            });
            TrackJS.addMetadata("type", "editor");
            TrackJS.addMetadata("version", "1.5.001");
            TrackJS.addMetadata("ccversion", "1.5");
            TrackJS.addMetadata("eversion", "001");
      </script>
      <script>
            window.onload = function () {
                  updateTheme();
                  document.getElementById("switcher-theme").checked = isLightTheme();
                  document.getElementById("switcher-theme").onchange = function() {
                        setLightTheme(this.checked);
                        updateTheme();
                  };
            };
      </script>
</head>

<body>
      {% include navbar.html %}
      <div style="text-align: center">
            <label class="switch">
                  <input id="switcher-theme" type="checkbox">
                  <span class="slider"></span>
            </label>
      </div>
</body>

</html>