<link rel="stylesheet" href="{{ site.baseurl }}/css/navbar.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/navbar-dark.css" class="theme-dark">
<link rel="stylesheet" href="{{ site.baseurl }}/css/navbar-light.css" class="theme-light">
<link rel="stylesheet" href="{{ site.baseurl }}/css/navbar-ruby.css" class="theme-ruby">
<div id="navbar-div"><!--
--><a id="navbar-title" href="{{ site.baseurl }}/" target="_top"><span id="navbar-title-l">Custom</span><span id="navbar-title-r">Craft</span></a><!--
--><nav id="navbar-links"><!--
      --><a id="navbar-editor" href="{{ site.baseurl }}/editor/" target="_top">Editor</a><!--
      --><div class="navbar-sep"></div><!--
      --><a id="navbar-editorlist" href="{{ site.baseurl }}/editor/list" target="_top">Other versions</a><!--
--></nav><!--
--></div>